section .main_btn{
    width: 200px;
    font-size: 15px;
    padding: 12px 25px;
}

section .main .men_text h1 span{
    font-size: 30px;

}

section .main .men_text h1{
    margin-top: -4rem;
    font-size: 30px;
    line-height: 3rem;
}

section p{
    font-size: 14px;
    display: block;
    width: 100vw;
    padding: 10px;
}

section nav{
    justify-content: space-between;
}

section nav .logo img{
    width: 100px;
    margin-left: 20px;
}

section nav ul{
    display: none;
}

section nav .icon i{
    font-size: 15px;
}

#valorTotal {
    font-size: 15px;
    margin-right: 30px;
}

.menu h1{
    margin-top: 2rem;
    font-size: 50px;
}
.menu h1 span{
    color: #fac031;
    font-family: mv boli, 'REM', sans-serif;
    margin-left: 0px;
}
.menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.menu {
    background-image: url(../image/bg2.jpg);
    background-size: cover;
    background-position: center;
}
.menu .menu_box .menu_card{
    padding-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    margin: auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 75%;
    font-size: 25px;
    text-align: center;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    padding: 8px 20px;
    margin: 0 20px;
    margin-top: -1rem;
}
.menu input {
    margin-top: -3.5rem;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.contato{
    width: 100%;
    height: 85vh;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.contato h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.contato h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli, 'REM', sans-serif;
}

.contato h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.contato .contato_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.contato .contato_box .profile{
    width: 280px;
    height: 280px;
}

.contato .contato_box .profile img{
    width: 225px;
    height: 225px;
}

.carrinhoBack {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}
 
.logoCarrinho img {
    width: 100px !important;
    height: 100px !important;
    margin-top: 7rem;
}

.carrinhosElementos {
    width: 100%;
    height: 100%;
    margin-top: 20rem;
}

.elementos1 {
    padding: 40px;
    margin-bottom: 20px;
}

.elementos1 button {
    margin-right: 0px;
}

.a1 {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.a2  {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border: 1px solid black;
    height: 38%;
    width: 98%;
    display: block;
}

.a3 {
    height: 100%;
    gap: 20px;
}
.a3 button {
    width: 7rem !important;
    height: 1.7rem;
    font-size: 18px;
    text-align: center;
    font-family: mv boli, 'REM', sans-serif !important;
}

.a3 .Y {
    background-color: cyan;
    border-radius: 35px;
}
.a3 .Y:hover {
    background-color: rgb(115, 196, 196);
}
.a3 .N {
    background-color: rgb(254, 119, 119);
    border-radius: 35px;
}

.a3 .N:hover {
    background-color: rgb(250, 45, 45);
}

.informa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.informaText {
    width: 90%;
    height: 50%;
    font-size: 15px;
}

.botaoInforma2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.informatext2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.informatext2 button {
    margin-top:1.5rem;
    width: 25px;
    height: 20px;
    font-size: 25px;
}
.produtosVenda {
    flex-direction: column;
    height: 150vh;
}
.finalizarPrimario {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

}
.finalizarCompra {
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 70%;
}

.emptyMiddleSpace{
    display: none;
}
.ConfirmarCompra {
    margin-bottom: 7rem;
    height: 20vh;
}

#confirmar1 {
    font-size: 30px;
}
.confirmarConteudo {
    margin-top: -7rem;
    font-size: 25px
}

.confirmarBottom button {
    height: 30px;
    width: 250px;
    font-size: 20px;
}
