*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    scrollbar-width: none; /* Para navegadores Firefox */
  -ms-overflow-style: none; /* Para navegadores Internet Explorer e Edge */
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

input:disabled {

    background-color: transparent;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 150px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.3s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fac031;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #fac031;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6rem;
    height: 87vh;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-position: center;
}
#informationButton {
    font-size: 30px;
}
.botao {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
section .main .men_text h1{
    font-size: 60px;
    text-align: center;
    font-family: mv boli, 'REM', sans-serif;
    line-height: 4rem;
    
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli, 'REM', sans-serif;
    line-height: 22px;
    font-size: 70px;
}

section p{
    width: 50rem;
    text-align: center;
    left: 20px;
    bottom: 120px;
    line-height: 22px;
    font-family: system-ui;
    font-weight: 500;
}


section .main_btn{
    background: #fac031;
    width: 200px;
    cursor: pointer;
    padding: 12px 25px;
    margin-bottom: 15px;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}




.menu{
    width: 99.5%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli, 'REM', sans-serif;
}

#valorTotal {
    font-size: 20px;
    color: black;
    font-weight: 200;
    font-family: mv boli, 'REM', sans-serif;
    margin-top: -30px;
}
.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}
.menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.menu {
    background-image: url(../image/bg2.jpg);
    background-size: cover;
    background-position: center;
    

}
.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.7s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.15);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color:white;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;

}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 75%;
    text-align: center;
    margin: 20px auto 5px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
    border: 1px solid red;

}

.menu .menu_box .menu_card .menu_info h3{
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: inline;
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #fac031;
    padding: 8px 20px;
    margin: 0 20px;
    transition: 0.4s;
    border: none;
    margin-top: -1rem;
}
.menu_btn:hover {
    color: white  !important;
    background-color: black !important;
}
.menu input {
    border: none !important;
    width: 4rem;
    font-size: 18px;
    text-align: center;
    margin-top: -3.5rem;
}



.menu .input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    width: 100%;
    height: 85vh;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.contato h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 10px;
}

.contato h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli, 'REM', sans-serif;
}

.contato h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.contato .contato_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.contato .contato_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.contato .contato_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.contato .contato_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.contato .contato_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.contato .contato_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.contato .contato_box .profile:hover .info{
    top: 60%;
}

.contato .contato_box .profile .info .name{
    color: #fac031;
    margin-bottom: 15px;
}

.contato .contato_box .profile .info .contato_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.contato .contato_box .profile .info .contato_icon i:hover{
    color: #fac031;
}


.carrinhoBack {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}


.logoCarrinho img {
    width: 100px !important;
    height: 100px !important;
    margin-top: 7rem;
}

.logoCarrinho {
    display: flex !important;
    width: 100%;
    height: 150px;
    text-align: center;
    position: absolute;
    flex-direction: column;
    align-items: center;

}
.logoCarrinho button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.logoCarrinho button:hover {
    display: block;
    transition: 0.3s linear;
    margin-top: 1rem;
}
.produtosVenda {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.carrinhosElementos {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
}
.carrinhosElementos img {
    width: 130px;
    height: 130px;
    border-radius: 35px;
}

.carrinhosElementos input {
    display: flex;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.elementos1 {
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.Unidade input{
    display: flex;
    width: 130px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.elementos1 button {
    padding: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    background-color: transparent; 
    margin-right: 20px;
}

.elementos1 button:hover {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 50%;

}
.elementosBotao {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}
/*Footer*/

footer{
    margin-top: 15px;
    width: 100%;
    background: transparent;
    height: 3rem;
}

.footer_tag{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}



.a1 {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.a2  {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 40%;
    display: block;
     text-align: center;
}
.a2 h1 {
    font-family: mv boli, 'REM', sans-serif !important;
 margin-top: 20px;
}
.a3 {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.a3 button {
    width: 10rem !important;
    height: 1.7rem;
    font-size: 18px;
    text-align: center;
    font-family: mv boli, 'REM', sans-serif !important;
}

.a3 .Y {
    background-color: cyan;
    border-radius: 35px;
}
.a3 .Y:hover {
    background-color: rgb(115, 196, 196);
}
.a3 .N {
    background-color: rgb(254, 119, 119);
    border-radius: 35px;
}

.a3 .N:hover {
    background-color: rgb(250, 45, 45);
}
body::-webkit-scrollbar {
    display: none;}

.informa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.informaText {
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 50%;
    height: 50%;
    justify-content: center;
    flex-direction: column;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.botaoInforma2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.informatext2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.informatext2 button {
    margin-top: 1.5rem;
    width: 50px;
    height: 40px;
    border-radius: 35px;
    color: rgb(250, 106, 106);
    font-size: 25px;
    background-color: transparent;
    border: none;
}

.informatext2 button:hover {
    color: red;
}